@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales para Senda */
body {
  /* Fondo suave y texto legible por defecto */
  @apply min-h-screen bg-base-200 text-base-content;
}

/* Clase utilitaria para accesibilidad que usaremos luego */
.text-access-large {
  font-size: 1.25rem; /* 20px */
}